* {
  /* border: 1px solid red; */
  margin: 0;
  padding: 0;
}

body {
  background-color: #E5E5E5;
}

header {
  width: 100vw;
  padding: 10px;
  position: fixed;
  background-color: #6A82CC;
}

.container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

a {
  color: white;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
}

.container h2 {
  margin-right: 4.375rem;

  font-family: "Roboto", sans-serif;
  font-size: 24px;
}

h2 > a:hover {
  text-decoration: underline 2px;
  text-decoration-color: #FFF;
}

.name {
  margin-left: 5.9rem;
  margin-right: 27.3rem;

  font-weight: bold;
  font-size: 36px;
}

button {
  border: none;
  border-radius: 20px;

  width: 10.45rem;
  height: 40px;

  background: #5A72BB;
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 700;

  transition: background-color 0.2s;
}

.btn-buy {
  border: 0.5px solid #fceacd;
}

.btn-explore {
  border: 0.5px solid #fceacd;
  border-radius: 20px;

  width: 114px;
  height: 40px;
  background: #6A82CC;

  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 700;

  transition: background-color 0.2s;
}

button:hover { 
  background: #5569a5;
  cursor: pointer;
}

.first-section {
  width: 100%;
  height: 518px;
  position: absolute;
   
  display: flex;
  justify-content: space-between;
  background-color: #6A82CC;
}

main {
  padding-top: 63px;
}

.presentation {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  
  width: 368px;
  height: 353px;
  margin: 68px ;
}

.buttons {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0px 10px 0px 28px;
}

.content-text {
  display: flex;
  flex-direction: column; 
  justify-content: space-around;

  margin-left: 1.22rem;
  height: 254px;
  padding: 1rem;
}

.content-text h1 {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 56px;

  color: #FFFFFF;
}

.content-text p {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;

  color: #FFFFFF;
}

.card {
  display: grid;
        
  border: 1px solid black; 
  border-radius: 10px;    
  background-color: #FFF;

  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  
  width: 512px;
  height: 216px;
  padding-left: 33px;
  padding-right: 33px;

  margin: 128px 150px 0px 0px;
}

.card h1 {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;

  color: #000000;
}

.content { 
  display: flex;
  justify-content: space-between;
  
  margin: 33px 0px 0px;
}

.content input {
  width: 100%;
  margin-right: 29px;
  border-radius: 10px;
  border: 0.5px solid;
  outline: 0;
}

.btn-submit {
  border: 1px solid black;
  color: black;
  background: #FFF;
}


.btn-submit:hover { 
  background: #FFF;
  border: 1px solid #5edb79;
  color: #5edb79;
  cursor: pointer;
}


footer {
  position: fixed;

  justify-content: center;
  align-items: center;
  text-align: center;

  padding-top: 1.25rem;
  height: 2.5rem; 
  margin: auto;
  width: 100%;
  bottom: 0;

  background-color: #6A82CC;
}

footer h1 {
  color: white;

  font-weight: 500;
  font-size: 18px;
  font-weight: 28px;
  font-family: "Roboto", sans-serif;
}